.pitch-lines {
  --border: 1px solid red;
}

.pitch-lines .low-pitch {
  border-bottom: var(--border);
}

.pitch-lines .low-pitch:not(:first-child) {
  border-left: var(--border);
}

.pitch-lines .low-pitch:first-child:last-child {
  border-right: var(--border);
}

.pitch-lines .high-pitch {
  border-bottom: none;
  border-top: var(--border);
}

.pitch-lines .high-pitch:not(:first-child) {
  border-left: var(--border);
}

.pitch-lines .ends-with-pitch-drop {
  border-right: var(--border);
}
